@model HomePageViewModel

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>New Ad</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 jumbotron">
                
                <form method="post" action="/home/NewAd">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Phone Number" class="form-control" name="phonenumber" />
                        </div>
                    </div>
                    <br />
                    <textarea name="details" class="form-control" rows="10" placeholder="Description"></textarea>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>
